
<div style="width:100%">
  <% @scores.each do |score| %>
    <div class="match card" style="display:flex;justify-content:space-between">
      <div> <%= score[:match] %> </div>
      <div>Total score: <%= score[:score] %></div>
    </div>
  <% end %>
</div>