<h2><%= @name %>'s Matches!</h2>

<% @scores.each do |score| %>
  <div style="display:flex;gap:16px;font-size:18px;padding:4px">
    <div style="width:164px;"> <%= score[:match] %> </div>
    <div>Total score: <%= score[:score] %></div>
  </div>
<% end %>
