@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  body {
      font-family: "Architects Daughter", cursive;
      font-weight: 400;
      font-style: normal;
      overflow: hidden;
      height: 100%;
      box-sizing: border-box;
      margin: 0;
      background-color: #e7d6db;
      scrollbar-color: #460d29 #e7d6db;
  }
  
  .title {
    height: 7vh;
    color: white;
    box-shadow: 10px 5px 5px grey;
    position: relative;
    z-index: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 24px;
    background: linear-gradient(to right, #460d29 0%, #883249 100%);
  }

  h1 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    margin:0;
    font-size:28px !important;
  }
  
  
  label {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  button {
    background: linear-gradient(to right, #460d29 0%, #883249 100%) !important;
    color: white !important;
    padding: 6px 8px !important;
    font-weight: 500 !important;
    border-radius: 4px !important;
    font-family: "Quicksand", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 500 !important;
    font-style: normal !important;
  }

  button:hover,
  button:focus { 
    transform: scale(1.03);
    transition:transform 1s ease;
  } 
  
  .checkbox {
    input:checked {
      background-color: #883249 !important;
    }

    input:focus {
      --tw-ring-color: #883249 !important;
    }
  }

  .select {
    select {
      border-radius: 4px !important; 
    }
    select:focus {
      --tw-ring-color: #883249 !important;
      border-color: #883249 !important;
    }
  }

  .card {
    background-color: white;
    padding: 24px;
    border-radius: 4px;
    box-shadow: 10px 5px 5px grey;
  }

  .match {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 18px;
    margin-bottom: 24px;
    width: 100%;
    max-height: 400px;
  }

  .match-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
  }

  .match-title-name {
    font-size: 22px;
    text-decoration: underline;
  }

  .match-contents {
    width: 100%;
    display: flex;
    gap: 12px;
    max-height: 250px;
    overflow: hidden;
  }

  .match-best {
    display: flex;
    gap: 8px;
  }

  .match-show {
    text-decoration: underline !important;
    font-size: 15px;
    cursor: pointer;
  }

  a {
    display:block
  }
 
  a:hover { 
    color: #883249 !important;
    animation: shaking 0.4s infinite !important;
  } 
  @keyframes shaking {
     0% {transform: rotate(0deg);}
     20% {transform: rotate(-4deg);}
     50% {transform: rotate(0deg);}
     70% {transform: rotate(4deg);}
     100% {transform: rotate(0deg);}
  }

  .warning { 
    color: #883249;
    margin-left: 55px
  } 

  .gif { 
    display: inline-flex;
    justify-content: center;
    align-items: end;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  } 

  .fire { 
    background-image: url("fire.gif");
    top: -26px;
    right: -18px;
    width: 55px;
    height: 55px;
    min-width: 55px;
    min-height: 55px;
  } 

  .frog { 
    background-image: url("frog.gif");
    top: -7px;
    right: -12px;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
  } 

  .cold { 
    background-image: url("heart-blue.gif");
    top: -13px;
    right: -21px;
    width: 55px;
    height: 55px;
    min-width: 55px;
    min-height: 55px;
  } 
  
  .score { 
    font-size: 22px;
    color: black;
    line-height: 1.2;
    z-index: 4;
    position: absolute;
    right: -1px;
  } 
  
  .slender { 
    right: 5px;
  } 
  
  .total-score { 
    position: relative;
    z-index: 4;
    padding-right: 30px;
  } 

  .search-container {
    width:500px;
    height:100%;
    position:relative;

  }

  .search-card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: fixed;
    width: 450px;
  }

  img.selfie {
    border: 5px solid #883249 !important;
    display: block;
    max-height: 300px;
    width: auto;
    height: auto;
  }

  .section {
    padding-bottom:16px;
    position: relative;
    margin-right: 4px;
  }

  .section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black !important;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 3;
  }

}


