@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  body {
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    background-color: #e7d6db;
    scrollbar-color: #460d29 #e7d6db;
  }
  
  .main-container {
    display:flex;
    padding: 32px 0 0 32px;
    overflow:auto;
  }
  
  .header {
    height: 7vh;
    color: #f9f9f9;
    box-shadow: 0px 5px 5px grey;
    position: relative;
    z-index: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    background: linear-gradient(to right, #460d29 0%, #883249 100%);
  }
  
  .title {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  h1 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    margin:0;
    font-size:28px !important;
  }
  
  
  label {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .search_button {
    background: linear-gradient(to right, #460d29 0%, #883249 100%) !important;
    color: #f9f9f9 !important;
  }
  
  button {
    padding: 6px 8px !important;
    font-weight: 500 !important;
    border-radius: 12px !important;
    font-family: "Quicksand", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 500 !important;
    font-style: normal !important;
    box-shadow: 4px 3px 3px grey;
  }

  button:hover,
  button:focus { 
    transform: scale(1.03);
    transition:transform 1s ease-out;
  } 
  
  .checkbox {
    display: flex;
    align-items: center;
    gap: 4px;
    input:checked {
      background-color: #883249 !important;
    }

    input:focus {
      --tw-ring-color: #883249 !important;
    }
  }

  .select {
    select {
      border-radius: 4px !important; 
    }
    select:focus {
      --tw-ring-color: #883249 !important;
      border-color: #883249 !important;
    }
  }

  .card {
    background-color: #f9f9f9;
    padding: 24px;
    border-radius: 4px;
    box-shadow: 4px 5px 5px grey;
    max-width: 750px;
    width: 100%;
    margin-bottom: 24px;
  }

  .page-container {
    width:100%;
    margin-right:32px;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .match {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    max-height: 400px;
  }

  .match-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
  }

  .match-title-name {
    font-size: 22px;
    text-decoration: underline;
  }

  .match-contents {
    width: 100%;
    display: flex;
    gap: 12px;
    max-height: 250px;
    overflow: hidden;
  }

  .match-best {
    display: flex;
    gap: 8px;
  }

  .match-show {
    text-decoration: underline !important;
    font-size: 15px;
    cursor: pointer;
  }

  a {
    display:block;
    text-decoration: underline !important;
  }
 
  a:hover { 
    animation: shaking 0.4s infinite !important;
  } 
  @keyframes shaking {
     0% {transform: rotate(0deg);}
     20% {transform: rotate(-4deg);}
     50% {transform: rotate(0deg);}
     70% {transform: rotate(4deg);}
     100% {transform: rotate(0deg);}
  }

  .warning { 
    color: #883249;
    margin-left: 25px
  } 
  .warning { 
    animation: shaking 0.4s infinite !important;
  } 
  @keyframes shaking {
     0% {transform: rotate(0deg);}
     20% {transform: rotate(-4deg);}
     50% {transform: rotate(0deg);}
     70% {transform: rotate(4deg);}
     100% {transform: rotate(0deg);}
  }

  .gif { 
    display: inline-flex;
    justify-content: center;
    align-items: end;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  } 

  .fire { 
    background-image: url("fire.gif");
    top: -26px;
    right: -18px;
    width: 55px;
    height: 55px;
    min-width: 55px;
    min-height: 55px;
  } 

  .frog { 
    background-image: url("frog.gif");
    top: -7px;
    right: -12px;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
  } 

  .cold { 
    background-image: url("heart-blue.gif");
    top: -13px;
    right: -21px;
    width: 55px;
    height: 55px;
    min-width: 55px;
    min-height: 55px;
  } 

  .trophy { 
    background-image: url("trophy.gif");
    top: -13px;
    right: -21px;
    width: 65px;
    height: 65px;
    min-width: 65px;
    min-height: 65px;
  } 
  
  .score { 
    font-size: 22px;
    color: black;
    line-height: 1.2;
    z-index: 4;
    position: absolute;
    right: -1px;
  } 
  
  .slender { 
    right: 5px;
  } 
  
  .total-score { 
    position: relative;
    z-index: 4;
    padding-right: 30px;
  } 

  .search-container {
    width: 600px;
    position: relative;

  }

  .search-card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: fixed;
    width: 550px;
  }

  .search-info {
    display: flex;
    gap: 12px;
  }
  
  .search-decisions {
    display: flex;
    gap: 12px;
    flex-direction: column;
    min-width: 216px;
  }

  img.selfie {
    border: 5px solid #883249 !important;
    display: block;
    max-height: 300px;
    width: auto;
    height: auto;
  }

  .section {
    padding-bottom:16px;
    position: relative;
    margin-right: 4px;
  }

  .section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black !important;
    background-color: #f9f9f9;
    position: sticky;
    top: 0;
    z-index: 3;
  }


  .supes-header {
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 5px 5px grey;
    z-index: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .supes_search_button_plane {
    background-image: url(paperplane.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -9px;
    left: -5px;    
    min-width: inherit;
    min-height: inherit;
    z-index: 8;
  }


  .supes_search_button_text {
    position: relative;
    z-index: 10;
    background-color: transparent;
  }
  
  .supes_search_button {
    background-color: transparent;
    box-shadow: none !important;
    position: relative !important;
    min-width: 90px !important;
    min-height: 45px !important;
    font-size: 11px !important;
    display: flex !important;
    justify-content: end !important;
    align-items: end !important;
  }

  .supes-title-container {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom: 180px;
  }

  .supes-title {
    margin-bottom: 24px;
    background-color: #f9f9f9;
  }

  .supes-list-container {
    display:flex;
    gap:32px;
    flex-wrap:wrap;
    justify-content:center;
    max-width: 1200px;
  }

  .supes-selfie {
    max-width:250px;
    max-height:285px;
    width:250px;
    height:285px
  }

  .supes-pair {
    max-width:560px;
  }

  
}


